*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Makes writing media queries very simple
  font-size: 62.5%; // Defines 1rem as 10px -> 10/16 = 0.625

  // Bigger media queries before smaller ones to avoid overriding
  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem as 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem as 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem as 12px -> 12/16 -> 0.75
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0; // remove outer padding
  }
}
